* {
    margin: 0;
    box-sizing: border-box;
}
.centre {
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    background: rgb(255, 240, 35);
    border-radius: 10px;
    height: 20em;
    width: 25em;
    box-shadow: 10px 10px 10px 2px grey;
}

.container > * {
    height: 25%;
}
button {
    margin: 10px;
    font-size: 1em;
    background: rgb(149, 248, 0);
    border: none;
    border-radius: 5px;
    height: 2em;
    width: 25%;
    font-weight: bold;
}
input {
    width: 25%;
    margin: calc(20% / 6);
    font-size: 1em;
    padding: 5px 10px;
    border: 0px;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 18em;
    }
}
